
@{
    ViewBag.Title = "_CustomerLayout";
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>eShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />

    @*<meta http-equiv="refresh" content="2">*@
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>




    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Areas/Customer/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Areas/Customer/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    @*<link rel="stylesheet" href="~/Areas/Customer/web/css/fontawesome-all.css">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Areas/Customer/web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Areas/Customer/web/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->
    <style>
        .searchBar {
            border: none;
            box-shadow: inset 2px 0px 4px 0.8px rgba(0, 0, 0, 0.22);
        }
        .searchBar:focus{
            outline:none;
        }

        .search-input {
            flex-grow: 1;
        }

        .search-button {
            flex-shrink: 0;
        }
    </style>

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>


    <!-- header with search bar-->
    <div class="header-bot bg-success-subtle bg-gradient">
        <div class="container-fluid border-bottom border-1">
            <div class="row p-2 header-bot_inner_wthreeinfo_header_mid order-md-1  justify-content-sm-between">

                <div class="col-8 col-md-2 col-lg-2 d-flex align-items-center justify-content-center order-md-1  logo_agile">
                    <a href="@Url.Action("Home", "Home", new {area=""})" class="font-weight-bold font-italic">
                        <img style="height:50px; width:160px" src="~/Images/Utilities/logo5.png" alt=" " class="">
                    </a>
                </div>

                <div class="col-4 col-md-3 order-md-3 col-lg-2 text-end align-content-center text-md-center ">
                    <div class="">
                        <div class="">
                            @Html.Partial("_LoginPartial")

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 col-lg-8 order-md-2 pt-1 header mb-md-0 mb-2">
                    <div class="row">
                        <!-- search -->
                        <div class="col-12 agileits_search">
                            <div class="d-flex">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline w-100", role = "search" }))
                                {
                                    <input class="search-input " name="searchWord" type="search" placeholder="&#xF002; Search for Products" style="font-family:Arial, FontAwesome" aria-label="Search" required>
                                    <button class="btn my-2 my-sm-0 search-button" style="width:60px;" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50"
                                             style="fill:#FFFFFF;">
                                            <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
                                        </svg>
                                    </button>

                                }
                            </div>
                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    @RenderBody()
   
    <footer>        
        <!-- footer third section -->
        <div class="w3l-middlefooter-sec text-black">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- footer categories -->
                    <div class="col-md-3 col-sm-6 footer-grids">
                        <h3 class="text-white font-weight-bold mb-3">Categories</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="product.html">Mobiles </a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">Computers</a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">TV, Audio</a>
                            </li>
                            <li class="mb-3">
                                <a href="product2.html">Smartphones</a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">Washing Machines</a>
                            </li>
                            <li>
                                <a href="product2.html">Refrigerators</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer categories -->
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="about.html">About Us</a>
                            </li>
                            <li class="mb-3">
                                <a href="contact.html">Contact Us</a>
                            </li>
                            <li class="mb-3">
                                <a href="help.html">Help</a>
                            </li>
                            <li class="mb-3">
                                <a href="faqs.html">Faqs</a>
                            </li>
                            <li class="mb-3">
                                <a href="terms.html">Terms of use</a>
                            </li>
                            <li>
                                <a href="privacy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                        <ul>
                            <li class="mb-3">
                                <i class="fas fa-map-marker"></i> 123 Sebastian, USA.
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-mobile"></i> 333 222 3333
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone"></i> +222 11 4444
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com"> mail 1@example.com</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com"> mail 2@example.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                        <p class="mb-3">Free Delivery on your first order!</p>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                <input type="submit" value="Go">
                            </div>
                        </form>
                        <!-- //newsletter -->
                        <!-- social icons -->
                        <div class="footer-grids  w3l-socialmk mt-3">
                            <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="icon fb" href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon tw" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon gp" href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //social icons -->
                    </div>
                </div>
                <!-- //quick links -->
            </div>
        </div>
        <!-- //footer third section -->

    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                © 2018 Electro Store. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts.</a>
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
   
    
    <!-- //cart-js -->
  
    <!-- scroll seller -->
    <script src="~/Areas/Customer/web/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    @*<script src="~/Areas/Customer/web/js/SmoothScroll.min.js"></script>*@
    https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.7.1/jquery.smooth-scroll.min.js
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Areas/Customer/web/js/move-top.js"></script>
    <script src="~/Areas/Customer/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Areas/Customer/web/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>

</html>