@model string
@{
    ViewBag.Title = "StoreError";
    Layout = "~/Areas/Seller/Views/Shared/_SellerLayout.cshtml";
}

<h2 class="text-danger">@Model.ToString()</h2>
@Html.ActionLink("Back", "Index","Store")

