
@{
    ViewBag.Title = "StoreError";
    Layout = "~/Areas/Seller/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-danger">You are not authorised.</h2>
@Html.ActionLink("Back", "Index","Store")

