<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>

		<!--Desktop Connection String-->
		<add name="eShopEntities" connectionString="metadata=res://*/eShopEntityModel.csdl|res://*/eShopEntityModel.ssdl|res://*/eShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O303CQ1\SQLEXPRESS;initial catalog=eShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<!--Laptop Connection String-->
		<!--<add name="eShopEntities" connectionString="metadata=res://*/eShopEntityModel.csdl|res://*/eShopEntityModel.ssdl|res://*/eShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-F6B959OM\SQLEXPRESS;initial catalog=eShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--SOMEE server string-->
		<!--<add name="eShopEntities" connectionString="metadata=res://*/eShopEntityModel.csdl|res://*/eShopEntityModel.ssdl|res://*/eShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=TrialDB.mssql.somee.com;packet size=4096;user id=Jk12101_SQLLogin_1;pwd=qjov7y6x1g;data source=TrialDB.mssql.somee.com;persist security info=False;initial catalog=TrialDB;TrustServerCertificate=True&quot;" providerName="System.Data.EntityClient" />-->

	</connectionStrings>


	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>